In [ ]:
%pip install scikit-learn
%pip install pandas

In [9]:
import sklearn
import pandas as pd

pd.set_option('display.max_columns', None)

In [7]:
raw_dataset = pd.read_csv("insurance_update.csv", sep=";")

In [10]:
raw_dataset

,Make,Model,Manufacturing Year,Fuel Type,Engine Power (HP),Mileage (km),Number of Accidents,Market Value ($),Total Owners,Has Dashcam,Vehicles in Family,Driving Experience,ID,FIRST_NAME,LAST_NAME,AGE,HOMEKIDS,EMPLOYED,INCOME,MSTATUS,GENDER,TRAVTIME,BLUEBOOK,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG
0,Honda,Civic,2020.0,Hybrid,202.0,40594.0,0.0,21440.0,1.0,False,4.0,3.0,63581743.0,NaN,NaN,60.0,0.0,True,"$67,349",True,M,14.0,"$14,230",11.0,Minivan,yes,"$4,461",2.0,No,3.0,$0,18.0,0.0
1,BMW,X3,2023.0,Diesel,431.0,5000.0,0.0,49166.0,1.0,True,3.0,1.0,132761049.0,NaN,NaN,43.0,0.0,True,"$91,449",False,M,22.0,"$14,940",1.0,Minivan,yes,$0,0.0,No,0.0,$0,1.0,0.0
2,Volkswagen,Golf,2019.0,Electric,144.0,53310.0,0.0,18669.0,1.0,True,2.0,2.0,921317019.0,NaN,NaN,48.0,0.0,True,"$52,881",False,M,26.0,"$21,970",1.0,Van,yes,$0,0.0,No,2.0,$0,10.0,0.0
3,Chevrolet,Malibu,2022.0,Hybrid,314.0,13355.0,0.0,27164.0,1.0,True,3.0,2.0,727598473.0,NaN,NaN,35.0,1.0,True,"$16,039",True,F,5.0,"$4,010",4.0,SUV,no,"$38,690",2.0,No,3.0,$0,10.0,0.0
4,Tesla,Model 3,2018.0,Electric,395.0,73409.0,0.0,25265.0,1.0,True,4.0,2.0,450221861.0,NaN,NaN,51.0,0.0,True,NaN,True,M,32.0,"$15,440",7.0,Minivan,yes,$0,0.0,No,0.0,$0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN